.clicked-card {
    border: rgb(7, 50, 143) solid 3px;
  }
  .card img {
    aspect-ratio: 1/2;
    height: 400px;
  }
  
  .card_body {
    height: 200px;
  }
  .link{
    color: black;
    text-decoration: none;
  }
  .card{
    background-color: rgb(235, 244, 248);
  }