#toggle-btn.toggle-btn--dark {
    background-color: #13447e;
  }
  
  #toggle-btn.toggle-btn--dark::before {
    left: 44px;
  }
  #toggle-btn {
    display: inline-block;
    width: 74px;
    height: 28px;
    background-color: #1ec3f4;
    background-size: 100%;
    border-radius: 24px;
    position: relative;
    transition: all ease-in-out 0.4s;
    cursor: pointer;
    margin-right: 10px;
  }
  
  #toggle-btn::before {
    position: absolute;
    width: 26px;
    height: 22px;
    background-color: white;
    border-radius: 50%;
    left: 6px;
    top: 3px;
    content: "";
    transition: all ease-in-out 0.4s;
    z-index: 10;
  }