@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
  
  .bordo{
    text-align: center;
    --bs-border-radius: 0.75rem!important;
  }
  
  .container {
    padding-top: 20px !important
    ;
  }
  .trasparente{
    background-color: rgba(240, 255, 255, 0);
  }
  .distance{
    padding: 15px;
  }
  .citazione{
    padding: 0% !important;
    font-size: x-large;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }
  .card {
    border: none !important;
    
  }
  
  .card-title {
    font-size: 24px !important;
    font-weight: bold !important;
  }
  
  .card-text {
    font-size: 18px !important;
  }
  
  .card-img {
    height: auto !important;
    max-width: 100% !important;
  }
  
  
  /* Media query per adattare la visualizzazione su dispositivi di dimensioni ridotte */
  @media (max-width: 768px) {
    .card-img {
      height: auto !important;
      max-width: 100% !important;
    }}