@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poetsen+One&display=swap');

.App{
    padding: 20px;
}
a{ 
    object-fit: cover;
}
img{
    object-fit: cover;
}
.black{
    color: black;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.contenitore{
    height: 30rem;
    overflow: hidden;
    object-fit: cover;
}